*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}   

.navbar-wrapper {
    background-color: #222;
    border-bottom: 5px solid #00ff00; /* warna default */
    width: 100%;
    height: 48px;
    position: fixed; 
    top: 0; 
    z-index: 1; 
}


.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.navbar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar-list a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
}

.navbar-list a:hover {
    background-color: #686868;
}

.home {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    height: 100vh;
}

.home-greet-fullname {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border-top: 0px solid #222; /* panjang awal border-top adalah 0px */
    transition: border-top 3s ease-in-out; /* membuat transition pada border-top dengan durasi 3 detik */
}


.home-typing {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid #222;
    white-space: nowrap;
    animation:
      typing 1s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #222;
    }
  }
  
  

.home-quotes {
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    width: 57%;
}

.contact {
    background-color: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact-header {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 60px;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-list {
    display: flex;
    justify-content: center;
}

.contact-list ul {
    list-style: none;
    position: relative;
    top: 90px;
    border: 10px solid #fff;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-list ul li {
    background-color: #fff;
    border-radius: 7px;
    width: 400px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.contact-list ul a {
    color: #222;
    text-decoration: none;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.contact-list ul li:hover {
    background-color: #eaeaea;
    padding: 15px;
    position: relative;
    left: 30px;
}

#whatsapp {
    border: 5px solid #25D366;
    cursor: pointer;
}

#telegram {
    border: 5px solid #0088cc;
    cursor: pointer;
}

#line {
    border: 5px solid #00c300 ;
    cursor: pointer;
}

#discord {
    border: 5px solid #7289da;
    cursor: pointer;
}

#instagram {
    border: 5px solid #e4405f;
    cursor: pointer;
}

.contact-word {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #eaeaea;
    width: 420px;
    text-align: justify;
    margin-left: 15px;
}

.contact-button ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.contact-button ul li {
    display: flex;
    align-items: center;
}

.contact-button ul #contact-homeID, .contact-button ul #contact-aboutID {
    background-color: #e4405f;
    width: 200px;
    height: 35px;
    border-radius: 7px;
}

.contact-button ul #contact-aboutID {
    background-color: #7289da;
}

.contact-button ul #contact-homeID:hover {
    background-color: #db5a71;
    color: #222;
}

.contact-button ul #contact-aboutID:hover {
    background-color: #86a0ff;
}

.contact-button ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 20px;
    left: 15px;
    margin-right: 15px;
}

.about-wrapper {
    background: linear-gradient(to right, #87CEFA, #1E90FF);
    width: 100%;
    height: 100vh;
}

.about-profile {
    display: flex;
    justify-content: center;
} 

.about-profile-wrapper {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* efek box shadow */
    border-radius: 4px;
    width: 100%;
    height: 890px;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.about-image {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.about-image img {
    border: 3px solid lime;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition: transform 0.5s, box-shadow 0.5s; /* menambahkan transisi saat transformasi dan box-shadow terjadi selama 0.5 detik */
}
  
.about-image img:hover {
    transform: rotate(360deg); /* menambahkan transformasi rotate 360 derajat saat dihover */
    box-shadow: 0 0 20px 0 rgba(255, 102, 0, 0.8), 0 0 30px 10px rgba(255, 102, 0, 0.4), 0 0 40px 20px rgba(255, 102, 0, 0.2); /* menambahkan box shadow seperti api saat dihover */
}
  
.about-name {
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: 500;
}  

.about-school {
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 400;
}

.about-collage {
    display: flex;
    justify-content: center;
    font-weight: 25px;
}

.about-class {
    display: flex;
    justify-content: center;
    font-weight: 15px;
    opacity: 0.5; /* menambahkan opacity pada teks sehingga menjadi lebih redup */
}




@media only screen and (max-width: 512px) {
    .navbar-brand {
        display: none;
    }

    .navbar-list a {
        font-size: 15px;
        padding: 15px;
    }

    .home-greet-fullname {
        font-size: 24px;
        margin-top: -150px;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
    }

    .contact-word {
        position: relative;
        top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }

    .contact-button {
        position: relative;
        top: 100px;
    }

    .contact-button {
        display: flex;
        justify-content: center;
        /* margin-left: auto;
        margin-right: auto; */
    }

    .contact-button ul li #contact-homeID, .contact-button ul #contact-aboutID {
        width: 150px;
    }

    .contact-button ul li a {
        margin: 0;
    }

    .contact-list ul li {
        width: 240px;
    }

    .about-name {
        font-size: 30px;
    }

    .about-school {
        font-size: 20px;
    }
}

@media only screen and (max-width: 320px) {
    
}